/* ------------------ Thumbnails grid-------------- */

.grid {
  background: hsla(0, 0%, 0%, 0.2);
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.thumbnailsContainer{
  
    margin: 0 0;
}


.grid-item {
  width: 25%;
    display: block;
}


.grid-item {
  float: left;
  /*border: 2px solid hsla(0, 0%, 0%, 0.5);*/
}


.grid-item img {
  display: block;
 max-width: 100%;
}


/* ------------------ Gallery grid-------------- */

.gridGallery {
 
}

/* clear fix */
.gridGallery:after {
  content: '';
  display: block;
  clear: both;
}

.gridGallery-item {
    width: 100%;
    padding:5px;
    border: 2px solid #000000;
    display: block;
    background: hsla(0, 0%, 0%, 0.2);
    /* float: left; */
}


.gridGallery-item img {
  display: block;
  position: relative;
  max-width: 100%;
}


/*
.grid {
  background: hsla(0, 0%, 0%, 0.2);
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.33%;
}


.grid-item--gigante {
  width: 100%;
}

.grid-item {
  float: left;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.gutter-sizer {
  width: 0%;
}

.grid-item img {
  display: block;
 max-width: 100%;
}
*/